<!DOCTYPE html>
<html>

<head>
	<!--<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css">
	<link href="/css/main.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	{{{ body }}}
</body>

</html>