@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400,900&display=swap');

:root {
	--text-color-gray: #6A6B6B;
}

* {
	font-family: 'Roboto', sans-serif;
}

body {
	min-height: 100vh;
}

a {
	text-decoration: inherit;
	color: inherit;
}

.container {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}

header {
	margin: 20px 0;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	font-size: 1.1rem;
}

nav ul li.title {
	margin-right: 20px;
	font-weight: bold;
}

nav ul li.link {
	padding: 8px;
	font-weight: regular;
	color: var(--text-color-gray);
}

section {
	margin-top: 10%;
	margin-bottom: 10%;
}

section#header {
	margin-top: 7%;
	text-align: center;
}

section#header .profile-wrapper {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 50px;
}

section#header .profile-wrapper .circle {
	position: absolute;
	border-radius: 50%;
	background: #262FAC;
}

section#header .profile-wrapper .circle#circle-1 {
	width: 5rem;
	height: 5rem;
	bottom: -1rem;
	right: -1rem;
	z-index: -1;
}

section#header .profile-wrapper .circle#circle-2 {
	background: #9A9FD8;
	width: 5rem;
	height: 5rem;
	bottom: -0.5rem;
	right: 2rem;
	z-index: -2;
}

section#header .profile-wrapper .circle#circle-3 {
	width: 2rem;
	height: 2rem;
	top: -3rem;
	right: -1rem;
	z-index: -1;
}

section#header img#profile {
	border-radius: 50%;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

section#header p {
	font-size: larger;
	color: var(--text-color-gray);
}

section#about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	align-items: center;
	margin: 100px auto;
}

section#about p {
	font-size: 1rem;
	color: var(--text-color-gray);
	line-height: 1.3;
}

section#about .about-images-wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

section#about .about-images {
	display: flex;
}

section#about .about-image {
	width: 200px;
	height: 240px;
	border-radius: 10px;
	object-fit: cover;
}
section#about .about-image#about-image-1 {
	margin-right: -10%;
	margin-top: -10%;
	z-index: 10;
}

section#works {
	background: #F6F6F6;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 0;
	padding: 50px 0;
}

section#works h1.section-title {
	text-align: center;
	font-weight: bold;
}

section#works p.section-description {
	width: 90%;
	max-width: 550px;
	margin: auto;
	text-align: center;
	font-size: 1rem;
	color: var(--text-color-gray);
}

section#works div#works-list {
	margin-top: 100px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
	gap: 2rem;
}

section#works div#works-list .work {
	background: white;
	border-radius: 20px;
	box-shadow: 0 17px 25px 0 rgba(0, 0, 0, 0.096);
}

section#works div#works-list .work .content {
	margin: 30px;
}

section#works div#works-list .work .work-icon {
	border-radius: 10%;
	height: 5rem;
	position: relative;
	margin-top: -10rem;
}

section#works div#works-list .work .work-title {
	font-size: x-large;
}

section#works div#works-list .work .work-languages {
	font-size: larger;
	color: #262FAC;
	padding: 0;
}

section#works div#works-list .work .work-languages li {
	list-style-type: none;
	display: inline;
}

section#works div#works-list .work .work-languages li:not(:first-child):before {
	content: " - ";
}

section#works div#works-list .work .work-description {
	font-size: larger;
	color: var(--text-color-gray);
}

footer {
	width: 50%;
	margin: auto;
	text-align: center;
	font-size: larger;
	color: var(--text-color-gray);
	padding: 20px 0;
}

@media only screen and (max-width: 768px) {
	nav ul li.title {
		display: none;
	}

	section#works div#works-list {
		display: grid;
		grid-template-columns: 1fr;
		padding: 1em;
		grid-row-gap: 100px;
	}
}

/* Circle thingies? */
/*
section#header span::before {
	content: "";
	position: absolute;
	display: block;
	background-color: #9F9FD8;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	right: 50%;
	transform: translate(90%, 190%);
}

section#header span::after {
	content: "";
	position: absolute;
	display: block;
	background-color: #262FAC;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	right: 50%;
	transform: translate(120%, -80%);
	z-index: 0;
}
*/